main {
  margin-top: 40px;
}

header {
  background-color: #212529 !important;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: rgb(181, 181, 181);
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.textcenter {
  text-align: center;
}

#todoform,
#todotable {
  padding: 20px;
  margin-top: 30px;
}

footer {
  background-color: #212529;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* table {
  background-color: #212529 !important;
} */

.high {
  background-color: rgb(255, 0, 0, 0.5);
  margin-top: 2px;
}

.mid {
  background-color: rgb(255, 119, 0, 0.5);
  margin-top: 2px;
}

.low {
  background-color: rgb(255, 247, 0, 0.5);
  margin-top: 2px;
}

#todobtn {
  width: 10%;
  margin-top: 30px;
}

h2 {
  margin-top: 40px;
}

.bold {
  font-weight: bold;
}

main {
  margin-bottom: 80px;
}

#map {
  min-height: 400px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
