.nav-link {
  color: white;
}

.nav-link:hover {
  color: rgb(181, 181, 181);
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.textcenter {
  text-align: center;
}

#todoform,
#todotable {
  padding: 20px;
  margin-top: 30px;
}

footer {
  background-color: #212529;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.high {
  background-color: red;
}

.med {
  background-color: orange;
}

.low {
  background-color: yellow;
}

#todobtn {
  width: 10%;
  margin-top: 30px;
}
